@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}


        <form class="name-surname" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floatingv2">
                <label class="name_label " asp-for="Username">Nick</label>
                <input asp-for="Username" class="form-control" disabled />
               
            </div>
            <div class="form-floatingv2">
                <label class="name_label " asp-for="Input.PhoneNumber">Numer telefonu</label>
            <input asp-for="Input.PhoneNumber" placeholder="123456789" class="form-control" />
                <span asp-validation-for="Input.PhoneNumber"  class="text-danger"></span>
            </div>
            <button class="back" id="update-profile-button" type="submit">Zapisz</button>
        </form>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
