@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Potwierdź Email";
}

<h1>@ViewData["Title"]</h1>
<div class="komunikat">
<partial name="_StatusMessage" model="Model.StatusMessage" />
</div>
@section Scripts {
    <script>
        setTimeout(function () {
            window.location.href = "/Index";
        }, 5000); 
    </script>
}