@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap');
html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
    font-family:Lexend;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

header {
    background: #451952;
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: row;
    padding: 10px;
}
.navbar-collapse {
    display: flex;
    flex-direction: row;
}
.container .nav {
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.PageTitle{
    margin-right:auto;
}

.navbar-nav {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-item {
    margin-left: 34px;
    margin-right: 68px;
    margin-bottom: 15px;
    margin-top: 15px;
}


button.nav-link{
    background:#451952;
    padding:0;
    border:none;
    color: #F5E1DF;
}
.nav-link {
    text-decoration: none;
    color: #F5E1DF;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    transition: transform 0.3s ease;
}
.navbar-brand {
    text-decoration: none;
    color: #F5E1DF;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
}
.navbar-nav {
    display: flex;
    list-style: none;
    padding: 0;
}

body {
    margin:0px;
    margin-bottom: 60px;
    background: #F5E1DF;
    font-family: Lexend;
    color: #1D1A39;
    display: flex;
    height: 100%;
    flex-direction: column;
}
.pagination {
    display: flex;
    padding-left: 0;
    list-style: none;
}
li {
    display: list-item;
    
}
    .image-container {
    display: flex;
    flex-wrap: wrap;
}

.page-item.disabled .page-link {
    color: #6c757d;
    pointer-events: none;
    background-color: #fff;
    border-color: #dee2e6;
}
.page-link {
    position: relative;
    display: block;
    color: #451952;
    text-decoration: none;
    background-color: #F5E1DF;
    border: 1px solid;
    border-radius: 5px;
    border-color: #451952;
    padding: 5px;
}

.page-item.active .page-link {
    z-index: 3;
    color: #F5E1DF;
    background-color: #451952;
    border-color: #451952;
}
.page-item:not(:first-child) .page-link {
    margin-left: 2px;
}
    .thumbnail {
    margin: 10px;
    cursor: pointer;
    position: relative;
}

    .thumbnail img {
        width: 50px;
        height: 50px;
    }

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
    padding-top: 60px; /* odstêp nad modalem, aby ukryæ zawartoœæ strony */
}

.modal-content {
    margin: auto;
    display: block;
    width: auto;
    height: auto;
    max-width: 80%;
    max-height: 80%;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
    cursor: pointer;
}

    .close:hover,
    .close:focus {
        color: #bbb;
        text-decoration: none;
        cursor: pointer;
    }
.banner {
    position: relative;
}

.ProfilePic {
    position: absolute;
    top: 38%;
    left: 5%;
    transform: translateY(-50%);
    width: 325px;
    height: 325px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #B5D0FF;
}

    .ProfilePic img {
        width: 100%;
        height: 100%;
        width: 300px;
        height: 300px;
        object-fit: cover;
        border-radius: 50%;
    }

.UserInfo {
    margin-left: 420px;
    margin-top: 20px;
}

.ProfileBackground {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    border-width: 0;
    background-color: #C6DBFE;
    padding: 10px;
}

.page_nums{
    margin-right:10px;
}
.Title-blogi {
    display:flex;
    margin: 30px;
    justify-content:center;
    width: 90%;
    font-size: 150px;
    font-weight: 700;
    color: transparent;
    background-image: radial-gradient(#F39F5A, #AE445A, #662549, #451952, #1D1A39, #451952,#662549, #AE445A,#F39F5A);
    -webkit-background-clip: text;
    background-clip: text;
    background-size: 50%;
    background-position: -50%;
    animation: animated-gradient 7s infinite alternate-reverse;
}

@keyframes animated-gradient {
    to {
        background-position: 50%;
    }
}

.wpis {
    display: flex;
    flex-direction:column;
    justify-content:center;
    border-radius: 25px;
    border: 5px dashed #662549;
    background: #E8BCB9;
    width: 1300px;
    
}
.lista-wpisow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    margin: auto;
}
.text-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.Title {
    padding-top: 15px;
    font-weight: 600;
    display: flex;
    justify-content: start;
    font-size: 30px;
}
.Author {
    color: #662549;
    font-size: 24px;
    font-weight: 600;
    font-style: normal;
}
ul.Author a {
    color: #662549;
    font-size: 24px;
    font-weight: 600;
    text-decoration: none;
    font-style: normal;
}
.Date {
    display: flex;
    flex-direction: row;
    color: #AE445A;
    font-size: 18px;
    font-weight: 600;
    align-items: baseline;
    padding: 0px;
    font-style: italic;
}
.klasa-data{
    padding: 10px;
}

.Description {
    color: #1D1A39;
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    display:flex;
    justify-content:center;
}

.Content {
    color: #1D1A39;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    display: flex;
    flex-direction:column;
    justify-content: center;
}

ul.Content img {
    max-height: 300px;
    width: auto;
    border-radius: 25px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

ul.Content p {
    margin: 20px;
}

a {
    color: #AE445A;
}


.row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

h1 {
    font-size: 84px;
    color: #1D1A39;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-bottom: 0px;
    justify-content: center;
    align-items: center;
}

.form-control {
    display: block;
    width: 400px;
    height: 30px;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    font-family: Lexend;
    color: #1D1A39;
    line-height: 1.5;
    background-clip: padding-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 1rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    margin-bottom: 8px;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #AE445A;
    background: #F39F5A;
}

.form_login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.form-floating {
    color: #192E51;
    font-family: Lexend;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.24px;
    display: flex;
    gap: 22px;
    width: 100%;
    align-items: flex-end;
    margin: 10px;
}

    .form-floating label, .form-floating span {
        flex: 1;
        margin-bottom: 12px;
    }

    .form-floating label {
        text-align: right;
    }

#login-submit {
    display: flex;
    width: 328px;
    height: 56px;
    padding: 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;
    border-radius: 15px;
    background: #451952;
    color: #F5E1DF;
    font-family: Lexend;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.16px;
    margin-top: 20px;
}

.icon-input .input-icon {
    position: relative;
    display: flex;
    align-items: center;
}

.icon-input .icon {
    position: absolute;
    margin-left: 8px;
    height: 24px;
    margin-bottom: 8px;
}

.icon-input input {
    padding-left: 35px;
}

#registerSubmit {
    display: flex;
    width: 328px;
    height: 56px;
    padding: 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;
    border-radius: 15px;
    background: #451952;
    color: #F5E1DF;
    font-family: Lexend;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.16px;
    margin-top: 20px;
}

.text-danger {
    color: brown;
    font-size: 17px;
}

.log-reg-button-icon {
    margin-left: 8px;
    height: 28px;
}

.log-reg-button-start {
    margin-left: 10px;
}

.Comment-input {
    width: 600px;
    height: 40px;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    color: #1D1A39;
    border-radius: 1rem;
    margin-bottom: 8px;
    border: 2px solid #AE445A;
    background: #F39F5A;
}

.Comment {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.Comment-label {
    display: flex;
    flex-wrap: wrap;
    margin-right: 10px;
    font-size: 24px;
    font-weight: 700;
    align-content: center;
    margin-bottom: 8px;
    margin-left: -135px;
}

.button-comment {
    display: flex;
    width: auto;
    padding: 8px;
    justify-content: center;
    border-radius: 10px;
    background: #451952;
    color: #F5E1DF;
    font-family: Lexend;
    font-weight: 500;
    font-size: 16px;
}
.Comment-content {
    font-size: 14px;
    background: #E8BCB9;
    border-radius: 25px;
    color: #662549;
    padding: 8px;
    list-style:none;
    margin-bottom:8px;
}
.Comment-content p{
    color: #1D1A39;
    font-family: Lexend;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px; /* 160% */
    letter-spacing: -0.2px;

}

.delete-comment {
    display: flex;
    width: auto;
    padding: 4px;
    justify-content: center;
    border-radius: 8px;
    background: #451952;
    color: #F5E1DF;
    font-family: Lexend;
    font-weight: 500;
    font-size: 15px;
}
.form-delete-comment {
    display: flex;
    justify-content: right;
    padding: 12px;
}

.inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.content {
    margin: 25px;
    border-radius: 25px;
    border: 3px dashed #662549;
    background: #E8BCB9;
    padding: 10px;
}

.button_note {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.form-controlv2 {
    display: block;
    width: 425px;
    height: 100px;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    font-family: Lexend;
    color: #1D1A39;
    line-height: 1.5;
    background-clip: padding-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 1rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    margin-bottom: 8px;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #AE445A;
    background: #F39F5A;
}

.tags_label {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    font-weight: bold;
}

.nav-link:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.home-page {
    font-size: 70px;
}

.login_font {
    font-size: 48px;
    color: #F5E1DF;
}

.przerwa {
    margin-left: 15px;
    margin-right: 20px;
    margin-bottom: 10px;
    font-size: 70px;
    color: #F5E1DF;
}