@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap');
html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
    font-family:Lexend;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

header {
    background: #451952;
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: row;
    padding: 10px;
}
.navbar-collapse {
    display: flex;
    flex-direction: row;
}
.container .nav {
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.PageTitle{
    margin-right:auto;
}

.navbar-nav {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-item {
    margin-right: 68px;

}

button.nav-link{
    background:#451952;
    padding:0;
    border:none;
    color: #F5E1DF;
}
.nav-link {
    text-decoration: none;
    color: #F5E1DF;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
}
.navbar-brand {
    text-decoration: none;
    color: #F5E1DF;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
}
.navbar-nav {
    display: flex;
    list-style: none;
    padding: 0;
}

body {
    margin:0px;
    margin-bottom: 60px;
    background: #F5E1DF;
    font-family: Lexend;
    color: #1D1A39;
    display: flex;
    height: 100%;
    flex-direction: column;
}
.pagination {
    display: flex;
    padding-left: 0;
    list-style: none;
}
li {
    display: list-item;
    
}
    .image-container {
    display: flex;
    flex-wrap: wrap;
}

.page-item.disabled .page-link {
    color: #6c757d;
    pointer-events: none;
    background-color: #fff;
    border-color: #dee2e6;
}
.page-link {
    position: relative;
    display: block;
    color: #F5E1DF;
    text-decoration: none;
    background-color: #451952;
    border: 1px solid ;
    border-radius: 5px;
    border-color: #451952;
    padding: 5px;
  
}

.page-item.active .page-link {
    z-index: 3;
    color: #451952;
    background-color: #F5E1DF;
    border-color: #451952;
}
.page-item:not(:first-child) .page-link {
    margin-left: 2px;
}
    .thumbnail {
    margin: 10px;
    cursor: pointer;
    position: relative;
}

    .thumbnail img {
        width: 50px;
        height: 50px;
    }

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
    padding-top: 60px; /* odstêp nad modalem, aby ukryæ zawartoœæ strony */
}

.modal-content {
    margin: auto;
    display: block;
    width: auto;
    height: auto;
    max-width: 80%;
    max-height: 80%;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
    cursor: pointer;
}

    .close:hover,
    .close:focus {
        color: #bbb;
        text-decoration: none;
        cursor: pointer;
    }
.banner {
    position: relative;
}

.ProfilePic {
    position: absolute;
    top: 38%;
    left: 5%;
    transform: translateY(-50%);
    width: 325px;
    height: 325px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #B5D0FF;
}

    .ProfilePic img {
        width: 100%;
        height: 100%;
        width: 300px;
        height: 300px;
        object-fit: cover;
        border-radius: 50%;
    }

.UserInfo {
    margin-left: 420px;
    margin-top: 20px;
}

.ProfileBackground {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    border-width: 0;
    background-color: #C6DBFE;
    padding: 10px;
}
.Title{
    font-size:45px;
    font-style:bold;
}
.Date{
    font-size:12px;
    font-style:italic;
    display:flex;
    flex-direction:column;
    align-content:right;
}
.page_nums{
    margin-right:10px;
}
.Title-blogi {
    display:flex;
    margin: 30px;
    justify-content:center;
    width: 90%;
    font-size: 150px;
    font-weight: 700;
    color: transparent;
    background-image: radial-gradient(#F39F5A, #AE445A, #662549, #451952, #1D1A39, #451952,#662549, #AE445A,#F39F5A);
    -webkit-background-clip: text;
    background-clip: text;
    background-size: 50%;
    background-position: -50%;
    animation: animated-gradient 7s infinite alternate-reverse;
}

@keyframes animated-gradient {
    to {
        background-position: 50%;
    }
}

.wpis {
    display: flex;
    justify-content:center;
    
    border-radius: 25px;
    border: 3px dashed #662549;
    background: #E8BCB9;
}