@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap');
html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
    font-family:Lexend;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

header {
    background: #451952;
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: row;
    padding: 10px;
}
.navbar-collapse {
    display: flex;
    flex-direction: row;
}
.container{
    flex-direction:row;
}
.container .nav {
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.PageTitle{
    margin-right:auto;
}

.navbar-nav {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-item {
    margin-left: 34px;
    margin-right: 68px;
    margin-bottom: 15px;
    margin-top: 15px;
}


button.nav-link{
    background:#451952;
    padding:0;
    border:none;
    color: #F5E1DF;
}
.nav-link {
    text-decoration: none;
    color: #F5E1DF;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    transition: transform 0.3s ease;
}
.navbar-brand {
    text-decoration: none;
    color: #F5E1DF;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
}
.navbar-nav {
    display: flex;
    list-style: none;
    padding: 0;
}

body {
    margin-bottom: 60px;
    background: #F5E1DF;
    font-family: Lexend;
    color: #1D1A39;
    display: flex;
    height: 100%;
    flex-direction: column;
}
body, header {
    margin: 0;
    padding: 0;
}
.pagination {
    display: flex;
    padding-left: 0;
    list-style: none;
    justify-content: center;
    font-size: 23px;
}
li {
    display: list-item;
    
}
    .image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
}

.page-item.disabled .page-link {
    color: #6c757d;
    pointer-events: none;
    background-color: #fff;
    border-color: #dee2e6;
}
.page-link {
    position: relative;
    display: block;
    color: #451952;
    text-decoration: none;
    background-color: #F5E1DF;
    border: 1px solid;
    border-radius: 5px;
    border-color: #451952;
    padding: 5px;
}

.page-item.active .page-link {
    z-index: 3;
    color: #F5E1DF;
    background-color: #451952;
    border-color: #451952;
}
.page-item:not(:first-child) .page-link {
    margin-left: 2px;
}
    .thumbnail {
    margin: 10px;
    cursor: pointer;
    position: relative;
}

    .thumbnail img {
        width: 80px;
        height: 80px;
    }

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
    padding-top: 60px; /* odstêp nad modalem, aby ukryæ zawartoœæ strony */
}

.modal-content {
    margin: auto;
    display: block;
    width: auto;
    height: auto;
    max-width: 80%;
    max-height: 80%;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
    cursor: pointer;
}

    .close:hover,
    .close:focus {
        color: #bbb;
        text-decoration: none;
        cursor: pointer;
    }
.banner {
    position: relative;
}

.ProfilePic {
    position: absolute;
    top: 400px;
    left: 100px;
    transform: translateY(-50%);
    width: 325px;
    height: 325px;
    border-radius: 50%;
    background-color: #E8BCB9;
    overflow:hidden;
}
.ProfilePicv2 {
   
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: #E8BCB9;
    overflow: hidden;
}

    .ProfilePic img {
        width: 100%;
       
    }

.UserInfo {
    margin-left: 420px;
    margin-top: 20px;
}

.ProfileBackground {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    border-width: 0;
    background-color: #C6DBFE;
    padding: 10px;
}

.page_nums{
    margin-right:10px;
}
.Title-blogi {
    display:flex;
    margin: 30px;
    justify-content:center;
    text-align:center;
    width: 90%;
    font-size: 150px;
    font-weight: 700;
    color: transparent;
    background-image: radial-gradient(#F39F5A, #AE445A, #662549, #451952, #1D1A39, #451952,#662549, #AE445A,#F39F5A);
    -webkit-background-clip: text;
    background-clip: text;
    background-size: 50%;
    background-position: -50%;
    animation: animated-gradient 7s infinite alternate-reverse;
}

@keyframes animated-gradient {
    to {
        background-position: 50%;
    }
}

.wpis {
    display: flex;
    flex-direction:column;
    justify-content:center;
    border-radius: 25px;
    border: 5px dashed #662549;
    background: #E8BCB9;
    width: 1300px;
    
}
.lista-wpisow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    margin: auto;
    align-items: center;
}
.text-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.Title {
    padding-top: 15px;
    font-weight: 600;
    display: flex;
    justify-content: start;
    font-size: 40px;
}
.Author {
    color: #662549;
    font-size: 24px;
    font-weight: 600;
    font-style: normal;
    transition: transform 0.3s ease;
}
ul.Author a {
    color: #662549;
    font-size: 24px;
    font-weight: 600;
    text-decoration: none;
    font-style: normal;
    
}
    .Author:hover {
        transform:scale(1.1);
    }
    .Date {
    display: flex;
    flex-direction: row;
    color: #AE445A;
    font-size: 20px;
    font-weight: 600;
    align-items: baseline;
    padding: 0px;
    font-style: italic;
}
.klasa-data{
    padding: 10px;
}

.Description {
    color: #1D1A39;
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    display:flex;
    justify-content:center;
}

.Content {
    color: #1D1A39;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    display: flex;
    flex-direction:column;
    
}

ul.Content img {
    max-height: 300px;
    width: auto;
    border-radius: 25px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

ul.Content p {
    margin: 20px;
}

a {
    color: #AE445A;
}


.row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin-top: 10px;
}

h1 {
    font-size: 70px;
    color: #1D1A39;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-bottom: 0px;
    justify-content: center;
    align-items: center;
}

.form-control {
    display: block;
    width: 400px;
    height: 30px;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    font-family: Lexend;
    color: #1D1A39;
    line-height: 1.5;
    background-clip: padding-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 1rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    margin-bottom: 8px;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #AE445A;
    background: #F39F5A;
}

.form_login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.form-floating {
    color: #192E51;
    font-family: Lexend;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.24px;
    display: flex;
    width: 100%;
    align-items: flex-end;
    margin: 10px;
}

    .form-floating label, .form-floating span {
        flex: 1;
        margin-bottom: 12px;
    }

    .form-floating label {
        text-align: right;
    }

#login-submit {
    display: flex;
    width: 328px;
    height: 56px;
    padding: 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;
    border-radius: 15px;
    margin-bottom:10px;
    background: #451952;
    color: #F5E1DF;
    font-family: Lexend;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.16px;
    margin-top: 20px;
    cursor:pointer;
    transition:transform 0.3s ease;
}
    #login-submit:hover{
        transform:scale(1.1);
    }

    .icon-input .input-icon {
        position: relative;
        display: flex;
        align-items: center;
    }

.icon-input .icon {
    position: absolute;
    margin-left: 8px;
    height: 24px;
    margin-bottom: 8px;
}

.icon-input input {
    padding-left: 35px;
}

#registerSubmit {
    display: flex;
    width: 328px;
    height: 56px;
    padding: 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;
    border-radius: 15px;
    background: #451952;
    color: #F5E1DF;
    font-family: Lexend;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.16px;
    margin-top: 20px;
}

.text-danger {
    color: brown;
    font-size: 17px;
}

.log-reg-button-icon {
    margin-left: 8px;
    height: 28px;
}

.log-reg-button-start {
    margin-left: 10px;
}

.Comment-input {
    width: 600px;
    height: 40px;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    color: #1D1A39;
    border-radius: 1rem;
    margin-bottom: 8px;
    border: 2px solid #AE445A;
    background: #F39F5A;
}

.Comment {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.Comment-label {
    display: flex;
    flex-wrap: wrap;
    margin-right: 10px;
    font-size: 24px;
    font-weight: 700;
    align-content: center;
    margin-bottom: 8px;
    margin-left: -135px;
}

.button-comment {
    display: flex;
    width: auto;
    padding: 8px;
    justify-content: center;
    border-radius: 10px;
    background: #451952;
    color: #F5E1DF;
    font-family: Lexend;
    font-weight: 500;
    font-size: 16px;
    cursor:pointer;
    transition: transform 0.3s ease;
}
    .button-comment:hover{
        transform:scale(1.1);
    }.Comment-content {
        font-size: 14px;
        background: #E8BCB9;
        border-radius: 25px;
        color: #662549;
        padding: 8px;
        list-style: none;
        margin-bottom: 8px;
    }
.Comment-content p{
    color: #1D1A39;
    font-family: Lexend;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px; /* 160% */
    letter-spacing: -0.2px;
    padding-left :5px;

}

.delete-comment {
    display: flex;
    width: auto;
    padding: 4px;
    justify-content: center;
    border-radius: 8px;
    background: #451952;
    color: #F5E1DF;
    font-family: Lexend;
    font-weight: 500;
    font-size: 15px;
}
.form-delete-comment {
    display: flex;
    justify-content: right;
    padding: 12px;
}

.inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.content {
    margin: 25px;
    border-radius: 25px;
    border: 3px dashed #662549;
    background: #E8BCB9;
    padding: 10px;
}

.button_note {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.form-controlv2 {
    display: block;
    width: 425px;
    height: 100px;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    font-family: Lexend;
    color: #1D1A39;
    line-height: 1.5;
    background-clip: padding-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 1rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    margin-bottom: 8px;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #AE445A;
    background: #F39F5A;
}

.tags_label {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    font-weight: bold;
}

.nav-link:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.home-page {
    font-size: 70px;
}

.login_font {
    font-size: 48px;
    color: #F5E1DF;
}

.przerwa {
    margin-left: 15px;
    margin-right: 20px;
    margin-bottom: 10px;
    font-size: 70px;
    color: #F5E1DF;
}

.lajki{
    display: flex;
    justify-content: center;
}

.like-button {
    margin-top: 10px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    border-color: #451952;
    width: 32px;
    height: 32px;
    overflow: hidden;
    background: #E8BCB9;

}

.like_img_liked {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 28px;
    height: 26px;
    border-radius: 8px;
    background:none;
    object-fit: cover;
}
.like_img {
    width: 28px;
    height: 26px;
    border-radius: 8px;
    background: none;
    object-fit: cover;
}
.likes {
    display: flex;
    justify-content: center;

}
.likes-count {
    display: flex;
    align-items: center;
    margin: 10px;
    margin-top: 13px;
    font-size: 20px;
    font-weight: 600;
    
}
.l {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.lista-comment{
    padding-left: 0px;
}

.col-1{
display:none;
}
.profile_div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.lista-comment {
    overflow-y: scroll;
    margin: 20px;
    padding: 20px;
    max-height:300px;

}
.delete-comment {
    
    cursor: pointer;
}
.lista-comment::-webkit-scrollbar {
    width: 10px;
}

.lista-comment::-webkit-scrollbar-track {
    background-color: #E8BCB9;
    border-radius: 20px 20px;
}

.lista-comment::-webkit-scrollbar-thumb {
    background-color: #451952;
    border-radius: 20px 20px;
}
.nav-link{
    
}
.back {
    display: flex;
    width: 138px;
    height: 25px;
    padding: 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;
    border-radius: 15px;
    background: #451952;
    color: #F5E1DF;
    font-family: Lexend;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.16px;
    margin-top: 5px;
    margin-bottom:20px;
    transition: transform 0.3s ease;
    cursor:pointer;
}
.back:hover{
    transform:scale(1.1);
}
.edit_img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
}

.custom-file-input::before {
    content: 'Wybierz plik:';
    display: inline-block;
    background: #451952;
    width: 128px;
    font-family:Lexend;
    color: #F5E1DF;
    border: 1px solid #192E51;
    border-radius: 8px;
    padding: 5px 8px;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    font-weight: 700;
    font-size: 10pt;
    margin: 8px;
    margin-right: -90px;
    transition: transform 0.3s ease;
}


    .custom-file-input:hover::before {
    border-color: #192E51;
    transform:scale(1.1);
}
.button-img {
    padding: 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;
    border-radius: 15px;
    background: #451952;
    color: #F5E1DF;
    font-size: 20px;
    font-weight: bold;
    line-height: 24px;
    letter-spacing: -0.16px;
    margin-top: 10px;
    margin-bottom:10px;
    cursor:pointer;
    transition:transform 0.3s ease;
}
.button-img:hover {
    transform:scale(1.1);
}
form .form-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.profile-nav-link {
    color: #F5E1DF;
    transition: transform 0.3s ease;
    text-align: center;
    border-radius: 35px;
    background: #451952;
    height:auto;
    width: 200px;
    justify-content: center;
    align-content: center;
}
.nav-link-padding{
    padding:15px;
}
.profile-nav-link:hover{
    transform:scale(1.1);
}
.images{
    margin-top:30px;
}
.break{
    margin:10px;
}
.name-surname {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top:35px;
}
.name-label {

    font-size: 24px;
    font-weight: 700;
    width:min-content;

}
form .name-label {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 20px;
    justify-content: center;
}
.manage-nav {
    margin-top: 40px;
    display: block;
    float: left;
    width: 300px;
    border-radius: 25px;
    border: 5px dashed #662549;
}
.col-md-9 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top:150px;
}
.navbar-nav.manage-nav li {
    display: block;
    margin-bottom: 10px;
}
.Email {
    color: #AE445A;
    font-size: 20px;
    font-weight: 600;
}
.Username {
    color: #1D1A39;
    font-size:40px;
    font-weight:bold;
}
.form-floatingv2 {
    color: #192E51;
    font-family: Lexend;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.24px;
    gap: 22px;
    width: 100%;
    align-items: flex-end;
    margin: 10px;
}
.post-content {
    overflow: hidden;
    max-height: 500px;
    transition: max-height 0.3s ease;
}

.full-content {
    max-height: none !important; 
}

.read-more {
    color: #AE445A;
    cursor: pointer;
    display: block;
    transition: color 0.3s ease;
}
    .read-more:hover {
        color: #451952;
    }
.backv2 {
    display: flex;
    padding: 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;
    border-radius: 15px;
    background: #451952;
    color: #F5E1DF;
    font-family: Lexend;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.16px;
    margin-top: 5px;
    margin-bottom: 20px;
    cursor:pointer;
    transition: transform 0.3s ease;
}
.backv2:hover{
    transform: scale(1.1);
}
.disabled{
    color:grey;
}
.tabela-tag{
    display:flex;
    justify-content:center;
}
.table-tag {
    width: 50%;
    border-collapse: collapse;
    margin-bottom: 20px;
    margin-top:20px;
}
    .table-tag th, td {
        font-size: 24px;
        padding: 12px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    .table-tag tr {
        border: solid 3px;
        border-color: #662549;
        border-radius: 2rem;
        background: #E8BCB9
    }
    .table-tag th {
        background: #451952;
    }

    .table-tag tr:hover {
        background-color: #e8a29d;
    }
    .table-tag thead {
        background: #451952;
        color: #F5E1DF;
    }
.tag-name{
    font-weight:600;
}
.opcje a{
    text-decoration: none;
}
.opcje a:hover{
    color:#451952;
}

.button-add-tag {
    background: #451952;
    width: fit-content;
    height: auto;
    padding: 5px;
    border-radius: 5px;
    align-content: center;
    display: flex;
    transition: transform 0.3s ease;
}
    .button-add-tag:hover{
        transform:scale(1.1);
    }
    .button-add-tag img{
        padding:3px;
    }
    .button-add-tag a {
        margin:3px;
        text-decoration: none;
        color: #F5E1DF;
        font-weight: 500;
        font-size:18px;
    }
.div_bat {
    display: flex;
    justify-content: center;
}
.edit-tag{
    display:flex;
    justify-content:center;
}
.edit-label{
    font-size: 24px;
    font-weight: 600;
}
.back-to-list{
    display:flex;
    justify-content:center;
}
.back-to-list-button {
    text-decoration: none;
    color: #F5E1DF;
    background: #451952;
    border-radius: 10px;
    padding: 10px;
    margin: 8px;
    font-size: 18px;
    font-weight: 500;
    transition: transform 0.3s ease;
}
    .back-to-list-button:hover {
        transform: scale(1.1);
    }
.button-save-edit {
    display: flex;
    width: 148px;
    padding: 10px;
    justify-content: center;
    border-radius: 10px;
    background: #451952;
    font-family: Lexend;
    color: #F5E1DF;
    font-weight: 500;
    border-style:none;
    font-size: 18px;
    margin-top:15px;
    transition:transform 0.3s ease;
}
    .button-save-edit:hover {
        transform: scale(1.1);
    }
.details{
    display:flex;
    justify-content:center;
    align-items:center;
}
.detail-label{
    color:#1D1A39;
    font-size:40px;
    font-weight:600;
    margin-bottom:15px;
}
.detail-name {
    color: #1D1A39;
    font-size: 36px;
    font-weight: 400;
    border-radius:10px;
    background:#E8BCB9;
    border:dashed;
    width:auto;
    padding:10px;
    border-color:#662549;
    margin:0;
}

.details-buttons{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
}
.detail-button {
    text-decoration: none;
    color: #F5E1DF;
    background: #451952;
    border-radius: 10px;
    padding: 10px;
    margin: 8px;
    font-size: 18px;
    font-weight: 500;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease;
}
    .detail-button:hover{
        transform: scale(1.1);
    }
.table {
    width: 97%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-left: 20px;
}

    .table th {
        font-size: 24px;
        padding: 12px;
        text-align: left;
        border-bottom: 1px solid #ddd;
        background: #451952;
    }
    .table tr {
        border: solid 3px;
        border-color: #662549;
        border-radius: 2rem;
        background: #E8BCB9
    }

    .table td {
        padding: 10px;
        font-size: 24px;
        padding: 12px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    .table tr:hover {
        background-color: #e8a29d;
    }

.tableName {
    font-size: 30px;
    margin-left: 20px;
}
.table thead {
    background: #451952;
    color: #F5E1DF;
}
.delete-button-admin{
    display:flex;
    margin-left:20px;
}
.pogrubione{
    font-weight:700;

}
.pytanie {
    display: flex;
    justify-content: center;
    font-size: 24px;
    line-height: 36px;
    border-radius: 10px;
    background: #E8BCB9;
    border: dashed;
    border-color: #662549;
    width: fit-content;
    margin:auto;
    padding: 15px;
}
.delete-user{
    display:flex;
    justify-content:center;
    margin:10px;
}
.delete-tag {
    display: flex;
    justify-content: center;
    font-size: 24px;
    line-height: 36px;
    border-radius: 10px;
    background: #E8BCB9;
    border: dashed;
    border-color: #662549;
    width: fit-content;
    margin: auto;
    padding: 15px;
}

h3 {
    font-size: 24px;
    line-height: 36px;
    display: flex;
    justify-content: center;
}
.wysrodkuj{
    display:flex;
    justify-content:center;
    margin:auto;
}
.labelka {
    font-size: 20px;
    font-weight: 700;
    margin:8px;
    align-items:baseline;
    display:flex;
}
.clipart-title{
    margin:10px;
}
.edit-post {
    display: block;
    width: 400px;
    height: 30px;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    font-family: Lexend;
    color: #1D1A39;
    line-height: 1.5;
    background-clip: padding-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 1rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    margin-bottom: 12px;
    align-items: center;
    border: 2px solid #AE445A;
    background: #F39F5A;
}
.delete-post {
    display: flex;
    justify-content: center;
    flex-direction:column;
    font-size: 24px;
    line-height: 36px;
    border-radius: 10px;
    background: #E8BCB9;
    border: dashed;
    border-color: #662549;
    width: fit-content;
    margin: auto;
    padding: 15px;
}
.pogrubione2{
    font-weight:500
}
.tagi{
    margin-top:5px;
}
.komunikat {
    display: flex;
    justify-content: center;
    margin: auto;
}