@page
@model DeleteUsernModel
@{
}
<h1>Usuń użytkownika</h1>

@if (Model.UserToDelete != null)
{<div class="pytanie">
    <p><span class="pogrubione">Czy na pewno chcesz usunąć tego użytkownika:</span><br>
        <span class="pogrubione">Id: </span> @Model.UserToDelete.Id<br>
        <span class="pogrubione">Username: </span> @Model.UserToDelete.UserName<br>
        <span class="pogrubione">Email: </span> @Model.UserToDelete.Email?</p>
    </div>
    <form class="delete-user"method="post">
        <input type="hidden" asp-page="UserList" name="Id" value="@Model.UserToDelete.Id" />
        <button type="submit" class="button-comment">Potwierdź</button>
    </form>
}
else
{
    <p class="pogrubione">User not found.</p>
}
