@page
@model ProfileModel
<div class="edit_img">
    <partial name="ImageEdit"/>

<a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage"><div class="nav-link back">Powrót</div></a>
</div>

