@page
@model MiniBlogiv2.Pages.EditProfileModel
@{
    ViewData["Title"] = "Zmień imię i nazwisko";
}

<h1>@ViewData["Title"]</h1>

<form class="name-surname" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-floating">
        <label class="name-label" asp-for="Name">Imię</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-floating">
        <label class="name-label" asp-for="Surname">Nazwisko</label>
        <input asp-for="Surname" class="form-control" />
        <span asp-validation-for="Surname" class="text-danger"></span>
    </div>

    <div class="name-surname">
        
        <input id="login-submit" type="submit" value="Zapisz" class="btn btn-primary" />
        <input id="login-submit" type="submit" value="Powrót" class="btn btn-primary" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage" />
    </div>
</form>
