@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    @foreach (var item in Model.Comments)
    {
        <p>
            @Html.DisplayFor(modelItem => item.Content)
            @Html.DisplayFor(modelItem => item.Date_comment)
        </p>
    }

</div>
