@page
@model MiniBlogiv2.Pages.Tags.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Usuń tag</h1>

<h3 class="pogrubione">Jeseś pewien, że chcesz usunąć ten tag?</h3>
<div>
    <div class="delete-tag">
       <span class="pogrubione2">Nazwa: </span> @Html.DisplayFor(model => model.Tag.Name)
    </div>

    <form class="wysrodkuj" method="post">
        <input type="hidden" asp-for="Tag.TagId" />
        <input type="submit" value="Usuń" class="btn btn-danger button-save-edit" /> 
        
    </form>

</div>
<div class="back-to-list">
    <a class="back-to-list-button" asp-page="./Index">Powrót do listy</a>
</div>
