@page
@model MiniBlogiv2.Pages.Tags.DetailsModel

@{
    ViewData["Title"] = "Informacje";
}

<h1>Informacje</h1>

<div>
    <dl class="row details">
        <dt class="col-sm-2 detail-label">
            @Html.DisplayNameFor(model => model.Tag.Name)
        </dt>
        <dd class="col-sm-10 detail-name">
            @Html.DisplayFor(model => model.Tag.Name)
        </dd>
    </dl>
</div>
<div class="details-buttons">
    <a class="detail-button" asp-page="./Edit" asp-route-id="@Model.Tag?.TagId">Edytuj</a>
    <a class="detail-button" asp-page="./Index">Powrót do listy</a>
</div>
