@page
@model MiniBlogiv2.Pages.Tags.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edytuj tag</h1>


<div class="row">
    <div class="edit-tag">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Tag.TagId" />
            <div class="form-group">
                <label asp-for="Tag.Name" class="edit-label"></label>
                <input asp-for="Tag.Name" class="form-control" />
                <span asp-validation-for="Tag.Name" class="text-danger"></span>
            </div>
            <div class="edit-tag">
                <input type="submit" value="Zapisz" class="btn btn-primary button-save-edit" />
            </div>
        </form>
    </div>
</div>

<div class="back-to-list">
    <a class="back-to-list-button" asp-page="./Index">Powrót do listy</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
